@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');
body{
    box-sizing: border-box;
    background-color: hsl(222, 26%, 31%);
    margin: 0;
    padding: 0;
    color: hsl(0, 0%, 100%);
    font-weight: bold;
    font-family: 'League Spartan', sans-serif;
}
*, *::before, *::after{
    box-sizing: inherit;
}
p ,h1, h2, h3{
    padding: 0;
    margin: 0;

}