:root{
    --Very-dark-desaturated-blue:hsl(222, 26%, 31%);
    --dark-desaturated-blue:hsl(223, 31%, 20%);
    --desaturated-blue:hsl(224, 36%, 15%);
    --Desaturated-dark-blue:hsl(225, 21%, 49%);
    --Desaturated-dark-blue2:hsl(224, 28%, 35%);
    --Red:hsl(6, 63%, 50%);
    --Dark-red:hsl(6, 70%, 34%);
    --Light-grayish-orange:hsl(30, 25%, 89%);
    --Grayish-orange:hsl(28, 16%, 65%);
    --White:hsl(0, 0%, 100%);
}
.theme1{
    background-color: var(--Very-dark-desaturated-blue);
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    padding: 1rem;
}
.header{
    width: 95%;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo{
    font-size: 2rem;
    font-weight: 900;
}
.header__theme{
    display: flex;
    gap: 1.5rem;
    font-size: 0.8em;
    align-items: flex-end;
}
.header__theme small{
    letter-spacing: 0.2em;
}

.header__toggle{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.header__nums{
    display: flex;
    justify-content: space-evenly;
}
.switch{
    position: relative;
    display: flex;
    width: 70px;
    height: 15px;
    display: inline-block;
    background-color: var(--dark-desaturated-blue);
    border-radius: 50px;
    padding: 1em;
    cursor: pointer;
}
.toggle1{
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle__ball{
    display: inline-block;
    background-color: var(--Red);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: absolute;
    left: 5%;
    right: 5%;
    top: 22%;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;
}

input[type="checkbox"].toggle1:checked + span{
    position: absolute;
    webkit-transform: translateX(45px);
    -ms-transform:translateX(45px) ;
    transform: translateX(45px);

}  
.output__display{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    word-wrap: break-word;
    word-break: break-all;
    background-color: var(--desaturated-blue);
    width: 95%;
    height: 300px;
    border-radius: 10px;
    padding: 0.5em;
    color: var(--White);
    font-weight: bold;

}

.output__display:focus{
    outline: none;
}
    
.cal__btnDiv{
    border-radius: 10px;
    background-color: hsla(223, 31%, 20%);
    width: 95%;
    padding: 1.5em;
}
.cal__numBtns{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(3.5rem, auto) repeat(3, 3rem);
    justify-content: center;
    gap: 1rem;
}
.cal__btn{
    cursor: pointer;
    min-width: 0;
    width: 100%;
    padding: 0.5em;
    border-radius: 5px;
    background-color: var(--Light-grayish-orange);
    border: none;
    font-size: 2em;
    color: var(--Desaturated-dark-blue2);
    font-weight: bolder;
    font-family: 'League Spartan', sans-serif;
    box-shadow: 0  5px var(--Grayish-orange);
}
.cal__btn:hover{
    background-color: hsl(30, 40%, 98%);
}
.delBtn{
    cursor: pointer;
    min-width: 0;
    width: 100%;
    padding: 1em;
    border-radius: 5px;
    border: none;
    color: var(--White);
    background-color:var(--Desaturated-dark-blue) ;
    font-weight: bolder;
    font-family: 'League Spartan', sans-serif;
    font-size: 1.2em;
    box-shadow: 0  5px var(--Desaturated-dark-blue2);

}

.cal__resetBtns{
    width: 100%;
    margin-top: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}
.resetBtn, .equalBtn{
    cursor: pointer;
    width: 100%;
    padding: 1em;
    border-radius: 5px;
    color: var(--White);
    font-weight: bolder;
    font-size: 1em;
    font-family: 'League Spartan', sans-serif;

}
.resetBtn{
    background-color:var(--Desaturated-dark-blue) ;
    border: none;
    box-shadow: 0  5px var(--Desaturated-dark-blue2);

}
.delBtn:hover, .resetBtn:hover{
    background-color:hsl(225, 54%, 73%) ;
}
.equalBtn{
    background-color:  var(--Red);
    border: none;
    box-shadow: 0  5px var(--Dark-red);

}
.equalBtn:hover{
    background-color: hsl(6, 91%, 67%);
}
/* media queries */

@media screen and (min-width:440px) and (max-width: 590px){
    .header{
        width: 83%;
    }
    .output__display,.small__display{
        width: 83%;
    }
    
    .cal__btnDiv{
        width: 83%;
    }
}

@media screen and (min-width:590.02px) and (max-width: 960.8px){
    .header{
        width: 50%;
    }
    .output__display,.small__display{
        width: 50%;
    }
    .cal__btnDiv{
        max-width: 50%;
        padding: 1.8rem;

    }
    .cal__numBtns{
        row-gap: 1.5rem;
    }
    .cal__btn{
        padding: 0.3rem;
        width: 100%;
    }
    .delBtn{
        padding: 0;
        width: 100%;
    }
    
}
@media screen and (min-width:961px) {
    .header{
        width: 33%;
    }
    .output__display,.small__display{
        width: 33%;
    }
    
    .cal__btnDiv{
        max-width: 33%;
        padding: 1.8rem;

    }
    .cal__numBtns{
        row-gap: 1.5rem;
    }
    .cal__btn{
    box-shadow: 0  3.5px var(--Grayish-orange);
        padding: 0.3rem;
        width: 95%;
    }
    .delBtn{
        padding: 0;
        width: 95%;
    box-shadow: 0  3.5px var(--Desaturated-dark-blue2);

    }
    .resetBtn{
    box-shadow: 0  3.5px var(--Desaturated-dark-blue2);

    }
    .equalBtn{
        box-shadow: 0 3.5px var(--Dark-red);
    }
}